:root {
    --color1: #252627;
    --color2: #f2efe9;
    --color3: #3185fc;
    --color4: #e84855;
    --color5: #73956f;

    --bg-color: var(--color1);
    --main-color: var(--color2);
    --complement: var(--color1);

    --shell-outlines: color-mix(in srgb, var(--main-color) 70%, transparent);
    --shell-lighter-bg: color-mix(in srgb, var(--shell-outlines) 13%, black);
    --shell-darker-bg: color-mix(in srgb, var(--main-color) 12.5%, black);
}
.light-mode {
    --bg-color: var(--color2);
    --main-color: var(--color1);
    --complement: var(--color2);
}

@font-face {
    font-family: 'Martian Mono';
    src: url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        'wght' 400;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: "Montserrat", sans-serif;
}